{% load i18n %}
{% load staticfiles %}

<div class="wrapper-footer">
    <footer class="footer-app" role="contentinfo" id="company-info">
        <div class="footer-app-legal">
            <nav class="footer-app-nav">
                <ul class="list list-legal">
                    <li class="nav-item">
                        {% blocktrans with link_start='<a class="action" href="https://www.edx.org/edx-terms-service">' link_end='</a>' %}
                            {{ link_start }}Terms of Service &amp; Honor Code
                        {% endblocktrans %}
                    </li>
                    <li class="nav-item">
                        {% blocktrans with link_start='<a class="action" href="https://www.edx.org/edx-privacy-policy">' link_end='</a>' %}
                            {{ link_start }} Privacy Policy {{ link_end }}
                        {% endblocktrans %}
                    </li>
                </ul>
            </nav>
            <div class="copyright-trademarks">
                <p class="copy">
                    <span class="copyright">&copy;
                        <a href="http://www.edx.org">{% trans "edX Inc." %}</a>
                    </span>
                    {% trans "All rights reserved except where noted. edX, Open edX and the edX and Open edX logos are registered trademarks or trademarks of edX Inc." %}
                </p>
            </div>
        </div>
        <div class="footer-app-related">
            <a class="img-link" href="http://edx.org/about"><img class="logo-img logo-openedx" src="{% static 'images/edx-openedx-logo-tag.png' %}" alt="{% trans 'Powered by Open edX' %}"/></a>
        </div>
    </footer>
</div>