{% load i18n %}
{% load staticfiles %}

<div class="accomplishment-signatories">
    <h3 class="accomplishment-signatories-title sr-only">{% trans "Noted by" %}</h3>

    <div class="wrapper-signatories">
        <div class="list-signatories">
            {% for signatory in user_credential.credential.signatories.all %}
            <div class="signatory">
                {% if signatory.image %}
                    <img class="signatory-signature" src="{{signatory.image.url}}" alt="{{signatory.name}}">
                {% endif %}
                <h4 class="signatory-name">{{ signatory.name }}</h4>

                <p class="signatory-credentials">
                    {% autoescape off %}
                    <span class="role">{{ signatory.title }}</span>
                        <span class="organization">{% firstof signatory.organization_name_override certificate_context.program_details.organizations.0.name %}</span>
                    {% endautoescape %}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>